<div  class="mouse_normal" style="height: 80px; width: 90px;position: absolute; left: 40px; top: 40px;">
    <div class="mouse_link" style="position: absolute; left: 0px; top: 40px;
            height: 5px ;width: 5px ;" dojoAttachEvent="onmouseup:inputOnMouseUp">
        <canvas height="5px" width="5px" style="background-color:green;"></canvas>
    </div>
    <div class="mouse_link" style="position: absolute; right: 0px; top: 40px;
            height: 5px;width: 5px;" dojoAttachEvent="onmouseup:outputOnMouseUp">
        <canvas height="5px" width="5px" style="background-color:red;"></canvas>
    </div>
    <div >
        <img src=${img_src} style=" width: 50px;margin: 5px;">
        <div class="name">
            <span>${name}</span>
        </div>
    </div>
</div>
